@use "variables" as *;

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;




    &__side {
        height: 50rem;
        transition: all .9s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        &--front {
            background-image: linear-gradient(to right, $color-orange-ligth, $color-orange-dark);
        }

        &--back {
            background-color: green;
            transform: rotateY(180deg);

        }

    }





    &:hover &__side--front {
        transform: rotateY(180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0deg);

    }
}