@use "variables" as *;

.section-about {
    background-color: $color-grey;
    padding: 25rem 0;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-green-ligth, $color-green-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(1.5deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .5)
    }

}

.text-center {
    text-align: center;
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.coll-6 {
    width: calc((100% - #{$gutter-horizontal})/2);
    float: left;

    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }


}

.btn-text {
    // font-weight: 700;

    &:link,
    &:visited {
        color: $color-green-dark;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $color-green-dark;
        padding: .3rem;
        font-size: 2rem;
        transition: all .2s;

    }

    &:hover {
        background-color: $color-green-dark;
        color: white;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        transform: translateY(0);
    }
}

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        &-p1 {
            left: 0;
            top: -2rem;


        }

        &-p2 {
            right: 0;
            top: 2rem;


        }

        &-p3 {
            left: 20%;
            top: 10rem;


        }

        &:hover {
            transform: scale(1.05);
            padding: 1rem;
            border: 1rem solid $color-green-dark;
            z-index: 2;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}