 
 // #region COLORS

 
 $color-red: rgb(216, 33, 33);
 $color-grey: #eee;

 $color-green-ligth: rgb(0, 255, 85);
 $color-green-dark: rgb(10, 160, 102);

  $color-orange-ligth: rgb(252, 139, 11);
 $color-orange-dark: rgb(214, 117, 6);

 $color-blue-ligth: rgb(33, 185, 255);
 $color-blue-dark: rgb(8, 133, 190);
 // #endregion COLORS



  // #region Grid

 
 $grid-width: 114rem;
 $gutter-vertical: 8rem;
 $gutter-horizontal:6rem;


 // #endregion Grid

 //#region Dividers
.mb-20{margin-bottom: 2rem;}
.mb-40{margin-bottom: 2rem;}
.my-20{margin-top: 2rem; margin-bottom: 2rem;}



 //#endregion Dividers

